<img  align="left"  width="93" height="95" src="resources/img1.jpeg">

# Como renomear uma coluna de um dataframe do Pandas?

**Motivações:**

1. Nomes muito grandes;
2. Nomes de difícil compreensão;
3. Opção por nomes que façam mais sentido.

---

## Let's Code!

**Descrição Conjunto de Dados:**

O conjunto de dados (*dataset*) contém informações sobre carros usados.

**Colunas:**

|Nome coluna| Descrição|
|-|-|
|name| Nome do carro|
|year|Ano do carro|
|selling_price|Preço de venda ($)|
|km_driven|Quilometragem|
|fuel|Tipo de combustível usado|
|seller_type|Tipo de vendedor|
|transmission|Tipo de transmissão do veículo|
|Owner|Dono (primeiro, segundo, etc.) |

**Referência:**

Os dados podem ser baixados em [link](https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho).

In [1]:
import pandas as pd

df_cru = pd.read_csv('data/car_dataset.csv', sep=',')
df = df_cru.copy()

In [2]:
# inspeciona as n primeiras linhas
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

### Método 1

In [3]:
# inspeciona os nomes das colunas
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [4]:
# sobrescreve o atributo columns do dataframe
df.columns = ['nome', 'ano', 'selling_price', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']

In [5]:
# inspeciona as n primeiras linhas
df.head(2)

,nome,ano,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner

### Método 2

In [11]:
# recupera o dataset original
df = df_cru.copy()
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [9]:
# renomeia as colunas com uso do método  
df = df.rename(
    columns={
        "name": "nome",
        "year": "ano"
    }
)

In [13]:
# renomeia as colunas com uso do método  
df.rename(
    columns={
        "name": "nome",
        "year": "ano"
    },
    inplace=True
)

In [14]:
df.head(2)

,nome,ano,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner